---
layout: default_no_contact_space
title: Projects
---


<h2 style="text-align: center;">
	Projects
</h2>

<div id="project_box">
	<div id="project_list">
		{% for project in site.projects %}
			<a class = "project_listing" href="{{ project.url }}">
				<h3>{{ project.title }}</h3>
				<p> Hello, World! </p>
			</a>
		{% endfor %}
	</div>

	<div id="project_categories">
		{% include project_type_selection.html %}
	</div>
</div>

<!-- <h2 style="text-align: center;">
	Favorite Projects
</h2>

<li class="project_list">
	{% for project in site.projects %}
		<a class = "project_listing" href="{{ project.url }}">
			<h3>{{ project.title }}</h3>
			<p> Hello, World! </p>
		</a>
	{% endfor %}
</li>


<h2 style="text-align: center;">
	Active Projects
</h2>
<li class="project_list">
	{% for project in site.projects.active %}
		<a class = "project_listing" href="{{ project.url }}" style="color: black;">{{ project.title }}</a>
	{% endfor %}
</li>

<h2 style="text-align: center;">
	Previous Projects
</h2>
<li class="project_list">
	{% for project in site.projects.previous %}
		<a class = "project_listing" href="{{ project.url }}" style="color: black;">{{ project.title }}</a>
	{% endfor %}

</li>

<h2 style="text-align: center;">
	Contributions
</h2>
<li class="project_list">
	{% for project in site.projects.contributions %}
		<a class = "project_listing" href="{{ project.url }}" style="color: black;">{{ project.title }}</a>
	{% endfor %}
</li> -->