* {
    box-sizing: border-box;
}

body {
    background-color: #FFEDD8;
}

.vert_sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #583101;
    overflow-x: hidden;
    padding-top: 20px;
}

.vert_sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #D4A276;
    display: block;
}

.vert_sidebar a:hover {
    color: #E7BC91;
}

.vert_sidebar a.active {
    color: #FFEDD8;
}

.main {
    margin-left: 160px;
    padding: 10px 10px;
    width: auto;
    height: 100%;
    color: #001219;
}

.profile_card {
    position: fixed;
    right: 1.5%;
    background-color: #E7BC91;
    height: auto;
    width: 256px;
    display: block;
}

#profile_image {
    position: inherit;
    width: inherit;
    height: auto;
}

.content {
    width: inherit;
    padding: 8px;
}

.contact_button {
    width: 100%;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: none;
    background-color: #D4A276;
    color: black;
    margin: 2px 2px 0px 0px;
}

.contact_button:hover {
    background-color: #BC8A5F;
}

#contact_me_label {
    text-align: center;
    margin: auto;
}
