$background-color: #FFF;
$default-text-color: #0A0908;
$accent-color: #A9927D;
$navbar_color: #49111C;
$contact_card_background: #F2F4F3;
$cc_link_color: #7A6852;
$cc_link_color_hover: #A9927D;
$project_listing_color: #7A6852;
$project_listing_hover: #A9927D;
$project_type_background_color: #F2F4F3;

@media (max-width: 800px) {
    .main_content_body {
        flex-direction: column; 
    }

    .content {
        margin-right: 0; 
        margin-bottom: 2rem; 
    }

    .footer {
        position: relative; 
        text-align: center;
    }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  padding: 0;
  margin: 0;
  min-height: 100vh; 
  width: 100%;
  color: $default-text-color;
  z-index: -50;
  display: flex;
  flex-direction: column;
}

a {
  color: $navbar_color; 
  text-decoration: underline; 
}

a:visited {
  color: $navbar_color; 
}

a:hover {
  color: $cc_link_color_hover; 
  text-decoration: none;
}

.main_content_body {
  display: flex;
  margin: 20px;
  padding-top: 60px;
  font-family: "Roboto";
  flex: 1;
}

.home_main_content {
  z-index: 0;
  flex: 3;
  margin-right: 30px;
  margin-left: 30px;
}

.contact_space {
  z-index: 0;
  flex: 0.75;
  padding: 20px;
  border-radius: 8px;
}

/*.spacer {
  z-index: 0;
  flex: 0.5;
  padding: 10px;
}*/

.vert_navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $navbar_color;
}

.vert_navbar li, .dropdown_button {
  margin: 8px;
  float: left;
  font-size: 25px;
  padding: 0;
}


.vert_navbar li a {
  display: block;
  text-decoration: none;
  color: #bfbfbf;
  padding: 8px;
}

.vert_navbar li a:hover, .dropdown_button:hover .dropdown {
  color: #d9d9d9;
}

.vert_navbar li a.active {
  color: #FDFFFF;
}

/*

*/

.contact_card {
  background-color: $contact_card_background;
  border-radius: 15px;
  height: auto;
  padding: 5px;
  font-family: "Roboto";
}

.contact_link_box {  
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.contact_link {
  color: #F2F4F3;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 25px;
  padding: 20px;
  background-color: $cc_link_color;
}

.contact_link:visited {
  color: #F2F4F3;
}

.contact_link:hover {
  background-color: $cc_link_color_hover;
}

#profile_pic {
  display: flex;
  text-align: center;
  margin: auto;
  height: 240px;
  width: auto;
  clip-path: circle(45%);
  border-style: solid;
  border-color: grey;
}


#footer {
  width: 100%;
  height: auto;
  background-color: #322A26;
  color: #565656;
  font-size: 12px;
  padding: 10px 0; 
  text-align: center;
  flex-shrink: 0;
}

#blog_post_links {
  list-style-type: none;
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#blog_post_links a {
  text-decoration: underline;
  padding: 4px;
  color: black;
  background-color: inherit;
  text-align: center;
}

#blog_post_links a:visited {
  color: black;
}

#blog_post_links a:hover {
  color: #BFBFBF;
}


#project_box {
  display: flex;
}


#project_list {
  flex: 3;
  display: flex;
  align-self: flex-start;
}

#project_categories {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: flex-start;
  background-color: $project_type_background_color;
  margin: 5px;
  padding: 5px;
  height: auto;
}

.project_category {
  z-index: 5;
  flex: 1;
  text-decoration: none;
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: black;
  color: #F2F4F3;
  border-radius: 10px;
}

.project_category:hover {
  background-color: grey;
}

.project_category:visited {
  color: #F2F4F3
}

.project_listing {
  flex: 1;
  text-decoration: none;
  padding: 5px;
  padding-left: 20px;
  margin: 5px;
  background-color: $project_listing_color;
  color: #F2F4F3;
  border-radius: 10px;
/*  text-align: center;*/
}

.project_listing:hover {
  background-color: $project_listing_hover;
  color: #F2F4F3;
  text-decoration: none;
}

.project_listing:visited {
  color: #F2F4F3;
}

#selected_category {
  background-color: $navbar_color;
}

.post_listing {
  flex: 1;
  text-decoration: none;
  padding: 5px;
  padding-left: 20px;
  margin: 5px;
  background-color: $project_listing_color;
  color: #F2F4F3;
  border-radius: 10px;
/*  text-align: center;*/
}

.post_listing:hover {
  background-color: $project_listing_hover;
}
