body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.main_content_body {
  display: flex;
  margin: 20px;
  padding-top: 60px;
  background-color: red;
}

.home_main_content {
  z-index: 0;
  flex: 3;
  margin-right: 20px;
  background-color: blue;
}

.contact_space {
  z-index: 0;
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  background-color: green;
}

.vert_navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.vert_navbar li {
  margin: 8px;
  float: left;
  font-size: 25px;
  padding: 0;
}

.vert_navbar li a {
  display: block;
  text-decoration: none;
  color: #bfbfbf;
  padding: 8px;
}

.vert_navbar li a:hover {
  color: #d9d9d9;
}

.vert_navbar li a.active {
  color: #FDFFFF;
}

/*

*/
.contact_card {
  background-color: yellow;
  height: 400px;

}

.contact_link_box {
  background-color: purple;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.contact_link {
  color: white;
  margin: 20px;
  text-align: center;
}

#profile_pic {
  display: flex;
  text-align: center;
  margin: auto;
  height: 180px;
  width: auto;
  clip-path: circle(45%);
}


#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #322A26;
  color: #565656;
  font-size: 12px;
}

#blog_post_links {
  list-style-type: none;
  background-color: whitesmoke;
}

#blog_post_links a {
  text-decoration: none;
  padding: 4px;
  color: black;
  text-align: center;
}

#blog_post_links a:hover {
  color: #BFBFBF;
}