body {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #0A0908;
}

.main_content_body {
  display: flex;
  margin: 20px;
  padding-top: 60px;
  font-family: "Helvetica";
}

.home_main_content {
  z-index: 0;
  flex: 3;
  margin-right: 30px;
  margin-left: 30px;
}

.contact_space {
  z-index: 0;
  flex: 1;
  padding: 20px;
  border-radius: 8px;
}

/*.spacer {
  z-index: 0;
  flex: 0.5;
  padding: 10px;
}*/

.vert_navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #49111C;
}

.vert_navbar li, .dropdown_button {
  margin: 8px;
  float: left;
  font-size: 25px;
  padding: 0;
}


.vert_navbar li a {
  display: block;
  text-decoration: none;
  color: #bfbfbf;
  padding: 8px;
}

.vert_navbar li a:hover, .dropdown_button:hover .dropdown {
  color: #d9d9d9;
}

.vert_navbar li a.active {
  color: #FDFFFF;
}

/*

*/

.contact_card {
  background-color: #F2F4F3;
  border-radius: 15px;
  height: auto;
  padding: 5px;
}

.contact_link_box {  display: flex;
  flex-direction: column;
  margin: 20px;
}

.contact_link {
  color: #F2F4F3;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 25px;
  padding: 20px;
  background-color: #5E503F;
}

.contact_link:hover {
  background-color: #A9927D;
}

#profile_pic {
  display: flex;
  text-align: center;
  margin: auto;
  height: 240px;
  width: auto;
  clip-path: circle(45%);
  border-style: solid;
  border-color: grey;
}


#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #322A26;
  color: #565656;
  font-size: 12px;
}

#blog_post_links {
  list-style-type: none;
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#blog_post_links a {
  text-decoration: underline;
  padding: 4px;
  color: black;
  background-color: inherit;
  text-align: center;
}

#blog_post_links a:hover {
  color: #BFBFBF;
}


.project_list {
  display: flex;
  list-style-type: none;
  width: 100%;
  height: auto;
}

.project_listing {
  flex: 1;
  text-decoration: none;
  padding: 20px;
  margin: 5px;
  background-color: #5E503F;
  color: #F2F4F3;
  border-radius: 10px;
/*  text-align: center;*/
}

.project_listing:hover {
  background-color: #A9927D;
}