<!doctype html>
<html>
	<head>
		<meta name="description" content="Personal website of Vaughn Zaayer, Mathematics student at Reed College.">
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="icon" type="image/png" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<script type="text/javascript">
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
		
	</head>
	<body>
		{% include navigation.html %}
		<div class="main_content_body">
			

			<div class="home_main_content">
				{{ content }}
			</div>
			
			{% if page.contact_card %}
			<div class="contact_space">
				{% include contact_card.html %}
			</div>
			{% endif %}
			
			<!-- <div class="spacer">

			</div> -->
		</div>

		{% include footer.html %}
		
	</body>
	
</html>
