<!doctype html>
<html>
	<head>
		<meta name="description" content="Personal website of Vaughn Zaayer, Mathematics student at Reed College.">
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png">
		
	</head>
	<body>
		{% include navigation.html %}
		<div class="main_content_body">
			

			<div class="home_main_content">
				{{ content }}
			</div>
			
			{% if page.contact_card %}
			<div class="contact_space">
				{% include contact_card.html %}
			</div>
			{% endif %}
			
			<!-- <div class="spacer">

			</div> -->
		</div>

		{% include footer.html %}
		
	</body>
	
</html>
